[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky SetXKB
Comment=Sparky SetXKB
Exec=/usr/bin/sparky-setxkb
Icon=preferences-desktop-keyboard
Type=Application
Categories=Applications;System

