[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky (Advanced) Installer DEV
GenericName=Sparky (Advanced) Installer DEV
Comment=Sparky (Advanced) Installer DEV
Exec=remsu sparky-xterm /usr/bin/sparky-installer-dev
Icon=/usr/share/icons/sparky/sparkybackupsys/sparky48.png
#Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System

